body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    margin-top: 2%;
}

.search-container {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

form {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

/* TAILLE DE LA BARRE ICI (700px) */
input[type="search"] {
    width: 700px;
    padding: 12px 20px;
    border-radius: 25px;
    border: 1px solid #ddd;
    outline: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

button {
    background-color: #5553ff;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

button:hover {
    background-color: #3f3dbb;
}

/* TAILLE DE LA BOITE ICI (Doit matcher l'input) */
.suggestions-box {
    position: absolute;
    top: 100%;
    left: 0;
    width: 700px; 
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 5px;
    z-index: 100;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    display: none;
    text-align: left;
}

.suggestion-item {
    padding: 12px 20px;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
}

.suggestion-item:last-child {
    border-bottom: none;
}

.suggestion-item:hover {
    background-color: #f0efff;
}

.alias-name {
    font-weight: bold;
    color: #333;
    display: block;
}

.path-hint {
    font-size: 0.75em;
    color: #999;
}

table {
    width: 90%;
    margin: 40px auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

th {
    background: #5553ff;
    color: white;
    padding: 12px;
    text-align: left;
}

td {
    padding: 10px;
    border-bottom: 1px solid #eee;
}